<?xml version="1.0"?>
<configuration>

  <configSections>
    <!--最简的三种，使用系统Handler，不用写C#代码配置，直接调用-->
    <section name="SingleTagSectionHandler" type="System.Configuration.SingleTagSectionHandler"/>
    <section name="DictionarySectionHandler" type="System.Configuration.DictionarySectionHandler"/>
    <section name="NameValueSectionHandler" type="System.Configuration.NameValueSectionHandler"/>

    <!--自定义section，需要预先在程序里定义-->
    <section name="MyBlogSection" type="AboutCustomConfiguration.MyBlogSection,AboutCustomConfiguration"/>
    <section name="MySiteSection" type="AboutCustomConfiguration.MySiteSection,AboutCustomConfiguration"/>
  </configSections>

  <SingleTagSectionHandler yongfa365="http://www.yongfa365.com/" cnblogs="http://www.cnblogs.com/"/>

  <DictionarySectionHandler>
    <add key="yongfa365" value="http://www.yongfa365.com/"/>
    <add key="cnblogs" value="http://www.cnblogs.com/"/>
  </DictionarySectionHandler>

  <NameValueSectionHandler>
    <add key="yongfa365" value="http://www.yongfa365.com/"/>
    <add key="cnblogs" value="http://www.cnblogs.com/"/>
  </NameValueSectionHandler>

  <MyBlogSection>
    <blogs>
      <add UserName="yongfa365" BlogUrl="http://www.yongfa365.com/" Hits="12345" />
      <add UserName="cnblogs" BlogUrl="http://www.cnblogs.com/" Hits="54321" />
    </blogs>
  </MyBlogSection>


  <MySiteSection>
    <yongfa365 UserName="yongfa365" BlogUrl="http://www.yongfa365.com/" Hits="12345" />
    <cnblogs UserName="cnblogs" BlogUrl="http://www.cnblogs.com/" Hits="54321" />
  </MySiteSection>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
