<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <system.webServer>
    <handlers>
      <add name="CacheHandler" verb="*" path="CacheHandler.Admin" type="AboutCache.CacheHandler,AboutCache"/>
    </handlers>
  </system.webServer>
</configuration>
