<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="RouteConfigSection" type="RouteSection.RouteConfigSection,RouteSection"/>
  </configSections>

  <RouteConfigSection>
    <routes>
      <add type="clear" name="Name是Key,所以随便写些吧" url="随便写"/>
      
      <add type="ignore" name="ignore.axd" url="{resource}.axd/{*pathInfo}"/>
      <add type="ignore" name="ignore.002" url="{Controller}/{Action}">
        <constraints action="Test" />
      </add>

      <add type="map" name="cshtml" url="Views/{controller}/{action}.cshtml">
        <defaults controller="Home" action="Index" />
        <constraints controller="[a-zA-Z]+" />
      </add>

      <add type="map" name="other" url="{controller}/{action}/{id}">
        <constraints controller="[a-z]{1,20}" id="\d{4}|\s*" />
      </add>
      
      <add type="map" name="Default" url="{Controller}/{Action}">
        <defaults controller="Home" action="Index" />
      </add>
    </routes>
  </RouteConfigSection>



</configuration>