<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="LinqLib.Properties.Settings.LinqTestConnectionString"
      connectionString="Data Source=.;Initial Catalog=LinqTest;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>